<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XML invoice generator</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/index.css">
    <script src="static/scripts/index.js"></script>
</head>

<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="continia logo" width="30"
                    height="30" class="d-inline-block align-text-top">
                XML invoice generator
            </a>
        </div>
    </nav>
    <form action="/setroot" method="post">
        <div class="input-group mb-3">
            <input id="rootdir" name="rootdir" type="text" value="{{rootdir}}" class="form-control"
                placeholder="Set root directory here" aria-label="Set root directory here"
                aria-describedby="basic-addon2">
            <button class="btn btn-primary" type="submit">Save root directory</button>
        </div>
    </form>
    <div id="accordion">
        {% for invdir, lists in dirs.items() %}
        <div class="card" id="card">
            <div class="card-header" id="heading{{loop.index}}">
                <h5 class="mb-0">
                    <button class="btn btn-link" id="subdir" data-toggle="collapse"
                        data-target="#collapse{{loop.index}}" aria-expanded="true"
                        aria-controls="#collapse{{loop.index}}">
                        {{invdir}}
                    </button>
                </h5>
            </div>

            <div id="collapse{{loop.index}}" class="collapse show" aria-labelledby="collapse{{loop.index}}"
                data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-primary">Files</li>
                                <ul class="list-group">
                                    {% for file in lists.files %}
                                    <li class="list-group-item list-group-item-secondary flex-grow-4">{{file}}</li>
                                    {% endfor %}
                                </ul>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-primary">Folders</li>
                                <ul class="list-group">
                                    {% for dir in lists.dirs %}
                                    <li class="list-group-item list-group-item-secondary flex-grow-4">{{dir}}</li>
                                    {% endfor %}
                                </ul>
                            </ul>
                        </div>
                        <div class="col">
                            <form action="/setsettings" method="post">
                                <div class="form-group">
                                    <label for="XMLtemplate">XML template</label>
                                    <select class="form-control" id="XMLtemplate" name="XMLtemplate" required>
                                        <option selected hidden></option>
                                        {% for file in lists.files %}
                                        <option value="{{file}}" {{"selected" if
                                            file==lists.settings.XML_TEMPLATE_FILE}}>{{file}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="XMLvariables">XML variables</label>
                                    <select class="form-control" id="XMLvariables" name="XMLvariables" required>
                                        <option selected hidden></option>
                                        {% for file in lists.files %}
                                        <option value="{{file}}" {{"selected" if
                                            file==lists.settings.XML_VARIABLES_FILE}}>{{file}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Wordtemplate">Word template</label>
                                    <select class="form-control" id="Wordtemplate" name="Wordtemplate">
                                        <option selected></option>
                                        {% for file in lists.files %}
                                        <option value="{{file}}" {{"selected" if
                                            file==lists.settings.WORD_TEMPLATE_FILE}}>{{file}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Wordvariables">Word variables</label>
                                    <select class="form-control" id="Wordvariables" name="Wordvariables">
                                        <option selected></option>
                                        {% for file in lists.files %}
                                        <option value="{{file}}" {{"selected" if
                                            file==lists.settings.WORD_VARIABLES_FILE}}>{{file}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <input type="text" value="{{invdir}}" id="subdir" name="subdir" hidden readonly>
                                <button type="submit" class="btn btn-primary mt-3">Save settings</button>
                            </form>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto mt-3">
                        <button type="button" class="btn btn-success" onclick="createfiles(this)">Create files</button>
                        <button type="button" class="btn btn-primary" onclick="test(this)">test</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p>Creating files...</p>
                    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>